venv/
.venv/
new_venv/
data/anchor/*.jpg
data/anchor/*.jpeg
data/anchor/*.png
data/anchor/*.gif
data/anchor/*.bmp
data/anchor/*.tiff
data/anchor/*.svg
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg*.jpg
*.jpeg
*.png
*.gif
.DS_Store
training_checkpoints/
siamesemodel.h5
